.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
}

.Input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;

}

button[type="submit"] {
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(78, 75, 75);
}

button[type="submit"]:hover {
    background-color: aqua;
}

.Check {

    background-color: red;
    text-align: center;
}