.Portada {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background-image: url('/public/img/heroes.png');
    background-color: rgb(227, 228, 213);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.Index{
    margin-top: 10px;
    margin-bottom: 5px;
}
p {
    font-size: 18px;
    color: rgb(12, 11, 11);
}

span {
    color: rgb(3, 7, 248);
    font-weight: bold;
}

.Productos {
    margin-top: 20px;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    border-radius: 35px;
   background-color: chartreuse;
   color: black;
}