.Portada {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background-image: url('/public/img/heroes.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.Index {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-shadow: 3px 6px 6px rgb(0, 0, 0, 0.5);
}

p {
    font-size: 18px;
    color: rgb(29, 1, 1);

}

span {
    color: rgb(3, 7, 248);
    font-weight: bold;
}

.Funkos {
    line-height: 1.2;
    
}

.Productos {
    margin-top: 20px;
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    text-decoration: none;
    color: #1a237e;

}

.Productos:hover {
    background-color: #fbc02d;
    color: #0d47a1;
}




.Back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/public/img/back-contact.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.TextTitulo {
    font-size: 2.5rem;
    text-shadow: 3px 6px 6px rgba(240, 237, 237, 0.5);
    color: blue;

}

.Super {
    
    margin-top: 10px;
    gap: 30px;
    height: 100vh;

}

.Contacto {
    margin-top: 10px;
    height: 55px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.Contacto:hover {
    background-color: aqua;
}

.Super input {
    width: 200px;
    height: 50px;
}


h1{
text-align: center;
}
.Super {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.Contacto {
    margin-top: 10px;
    height: 55px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.Contacto:hover {
    background-color: aqua;
}
.Super input{
    width: 200px;
    height: 50px;
} 
