.ListGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgb(180, 187, 187);
}

.CardItem {
    max-width: 300px;
    min-height: 400px;
    background-color: rgba(197, 197, 221, 0.952);
    box-shadow: 5px 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.CardItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}




.Info {
    margin: 20px;
}

.ItemImg {
    width: 150px;
    height: 200px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 20px cyan);



}

.ItemImg:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@media screen and (min-width: 600px) {
    .ListGroup {
        grid-template-columns: repeat(3, 1fr);
    }

}


@media screen and (min-width: 1024px) {
    .ListGroup {
        grid-template-columns: repeat(4, 1fr);
    }

}