

.Counter{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}
.Controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.Btn{
    padding: 5px 5px;
    margin: 10px;
    border-radius: 10px;
}
.Btn:hover{
    background-color: aqua;
}